# DEADPOOL CUSTOM PRINTER CONFIG #
#
# USE THIS CONFIG FOR ALL BASE PRINTER SETTINGS
#

[output_pin caselight]
pin: PA0
#pwm:true
shutdown_value: 0
value:1
#cycle_time: 0.01
#value:0.06
#cycle_time: 0.0002